addressable==1.4.2
aiohttp==3.8.1
aiosignal==1.2.0
aiosmtplib==1.1.6
ansicon==1.89.0
anyio==3.6.1
arabic-reshaper==2.1.3
arrow==1.2.2
asgiref==3.5.2
asn1crypto==1.5.1
astroid==2.11.6
async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
autobahn==22.5.1
Automat==20.2.0
autopep8==1.6.0
beautifulsoup4==4.11.1
bleach==5.0.0
blessed==1.19.1
boto3==1.24.15
botocore==1.27.15
Brotli==1.0.9
CacheControl==0.12.11
cachetools==5.2.0
certifi==2022.5.18.1
cffi==1.15.0
channels==3.0.5
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.5
commonmark==0.9.1
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==37.0.2
cssselect==1.1.0
cssselect2==0.6.0
daphne==3.0.2
decorator==5.1.1
defusedxml==0.7.1
dicttoxml==1.7.4
dill==0.3.5.1
distlib==0.3.4
Django==4.0.5
django-anymail==8.6
django-ckeditor==6.4.2
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-extensions==3.1.5
django-js-asset==2.0.0
django-mathfilters==1.0.0
django-picklefield==3.1
django-q==1.3.9
django-rest-knox==4.2.0
django-sslserver==0.22
django-storages==1.12.3
django-webpack-loader==0.7.0
django-widget-tweaks==1.4.12
djangorestframework==3.13.1
docopt==0.6.2
docutils==0.18.1
docx2pdf==0.1.8
docxcompose==1.3.5
docxtpl==0.16.0
drf-yasg==1.20.0
et-xmlfile==1.1.0
facebook-sdk==3.1.0
fcm-django==1.0.12
filelock==3.7.1
firebase-admin==5.2.0
Flask==0.10
fonttools==4.34.4
frozenlist==1.3.0
future==0.18.2
geocoder==1.38.1
geoip2==4.6.0
google==3.0.0
google-api-core==2.8.2
google-api-python-client==1.3
google-auth==2.8.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
google-cloud-core==2.3.1
google-cloud-firestore==2.5.3
google-cloud-storage==2.4.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleanalytics==0.14.2
googleapis-common-protos==1.56.3
grpcio==1.47.0
grpcio-status==1.47.0
gunicorn==20.1.0
h11==0.12.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
httpcore==0.13.7
httplib2==0.20.4
httpx==0.19.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.11.4
incremental==21.3.0
inflection==0.5.1
inspect-it==0.3.2
ip2geotools==0.1.6
IP2Location==8.8.0
isort==5.10.1
itsdangerous==2.1.2
itypes==1.2.0
Jinja2==3.1.2
jinxed==1.2.0
jmespath==1.0.1
jsonfield==3.1.0
keyring==4.0
lazy-object-proxy==1.7.1
lxml==4.9.0
MarkupSafe==2.1.1
maxminddb==2.2.0
mccabe==0.7.0
messages==0.8.0
msgpack==1.0.4
multidict==6.0.2
numpy==1.23.0
oauth==1.0.1
oauth2==1.9.0.post1
oauth2client==1.3
oauthlib==3.2.0
openai==0.20.0
openpyxl==3.0.10
oscrypto==1.3.0
outcome==1.2.0
packaging==21.3
pandas==1.4.2
pandas-stubs==1.2.0.62
PDFNetPython3==9.3.0
Pillow==9.1.1
pip-review==1.1.1
pipenv==2022.6.7
pkginfo==1.8.3
platformdirs==2.5.2
priority==1.3.0
proto-plus==1.20.6
protobuf==3.20.1
psycopg2==2.9.3
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycodestyle==2.8.0
pycparser==2.21
pydot==1.4.2
pydyf==0.2.0
Pygments==2.12.0
pyHanko==0.13.2
pyhanko-certvalidator==0.19.5
PyJWT==2.4.0
pylev==1.4.0
pylint==2.14.3
pyOpenSSL==22.0.0
pyparsing==3.0.9
PyPDF3==1.0.6
pyphen==0.12.0
pyquery==1.4.3
PySocks==1.7.1
python-bidi==0.4.2
python-dateutil==1.5
python-decouple==3.6
python-docx==0.8.11
python-http-client==3.3.7
python3-openid==3.2.0
PyTumblr==0.1.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywin32-ctypes==0.2.0
PyYAML==6.0
qrcode==7.3.1
ratelim==0.1.6
razorpay==1.3.0
readme-renderer==35.0
redis==3.5.3
reportlab==3.6.11
requests==2.28.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
rich==12.4.4
rsa==3.1.4
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.6.0
selenium==4.2.0
sendgrid==6.9.7
service-identity==21.1.0
six==1.16.0
sniffio==1.2.0
social-auth-app-django==5.0.0
social-auth-core==4.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
starkbank-ecdsa==2.0.3
stripe==3.4.0
svglib==1.3.0
tika==1.24
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.0
tqdm==4.64.0
trio==0.21.0
trio-websocket==0.9.2
tweepy==4.10.0
twilio==7.9.3
twine==4.0.1
Twisted==22.4.0
twisted-iocpsupport==1.0.2
txaio==22.2.1
typed-ast==1.5.4
typing==3.7.4.3
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
uritemplate==4.1.1
uritools==4.0.0
urllib3==1.26.9
validus==0.3.0
virtualenv==20.14.1
virtualenv-clone==0.5.7
wcwidth==0.2.5
weasyprint==56.0
webencodings==0.5.1
websocket-client==1.3.3
Werkzeug==2.1.2
whitenoise==6.2.0
wrapt==1.14.1
wsproto==1.1.0
xhtml2pdf==0.2.8
yarl==1.7.2
zipp==3.8.0
zope.interface==5.4.0
zopfli==0.2.1
