{% load static %}
{% block title %}
   Signup  
{% endblock title %}

{% if messages %}
{% for item in messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{item}}!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}
{% endif %} 

{% block content %}
  <div class="container-fluid bg-success">
      <div class="row bg-dark">
          <div class="col-12 col-sm-6 col-md-6 col-lg-3"></div>
          <div class="container col-12 col-sm-6 col-md-6 col-lg-6 p-5 bg-light">
            <form style="width: 400px;" method="POST" action="{% url 'signupform' %}">
            {% csrf_token %}
                <div class="form-group">
                  {{reg.as_p}}
                </div>
                <small id="textHelp" class="form-text text-muted">Create an account.</small>
                <button type="submit" class="btn btn-dark">Signup</button>
            </form>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3"></div>
      </div>
  </div>
{% endblock content %}
